<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <title>Basic Quiz</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>

  <div class="logIn">

    <h1>PLESE ENTER USER ID & PASSWORD</h1>

    <form action="/password" method="post">

      <label for="userID">USER ID</label>
      <input  type="text" name="userID" autocomplete="off" placeholder="USER ID"><br><br>

      <label for="password">PASSWORD</label>
      <input style="position:relative;right:10px;" type="password" name="password" autocomplete="off" placeholder="PASSWORD"><br><br>

      <button type="submit" name="button" value="start">SUBMIT</button><br>


    </form>

  </div>

</body>
<footer>MADE BY JAI SHARMA &copy; SKYHIGH ENTERPRISES</footer>

</html>
